body,
html {
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 65px;
    background-color: #1F2937;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.right-links{
    display: flex;
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-left: 100px;
    margin-bottom: 2px;
}

.under-main-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 103px;
    margin-bottom: 6px;
}

a {
    text-decoration: none;
    color: white;
}

.under-header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-bottom: 65px;
}

.main-part-under-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-img {
    display: flex;
    width: 300px;
    height: 190px;
    margin-left: auto;
    padding-right: 100px;
    flex-shrink: 0;
    padding-left: 100px;
}

.image {
    display: flex;
    width: 165px;
    height: 165px;
    border: 3px solid #3882F6;
    border-radius: 18px;
    margin-bottom: 20px;
}

.main-text-mp {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #152937;
    margin-bottom: 30px;
}

.main-part {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.images-and-text {
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.review {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 450px;
    justify-content: center;
}

.quote {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin-left: 150px;
    margin-right: 150px;
}

#user-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    font-weight: bold;
}

.call-to-action {
    margin-top: 100px; /*remove margin later */
}

.box {
    display: flex;
    background-color: #3882F6;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
}

#cta-main-txt{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

#cta-secondary-txt {
    color: white;
    font-weight: lighter;
}

#signup-btn-cta {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    font-size: large;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 6px;
    color: white;
}

.right-part-cta {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 100px; /*remove margin later */
}

#signup-btn {
    margin-left: 100px;
    max-width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
}

.img-text1,
.img-text2,
.img-text3,
.img-text4 {
    max-width: 165px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.copyright-txt {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
}