body,
html {
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 65px;
    background-color: #1F2937;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.right-links{
    display: flex;
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.under-main-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
}

.under-header {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.main-part-under-header {
    display: flex;
    flex-direction: column;
}

#main-img {
    width: 300px;
    margin-left: auto;
}

.image {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 18px;
}

.main-part {
    margin-top: 100px; /*remove margin later */
    display: flex;
    flex-direction: column;
}

.images-and-text {
    display: flex;
}

.review {
    margin-top: 100px; /*remove margin later */
    display: flex;
    flex-direction: column;
}

#user-text {
    display: flex;
    justify-content: flex-end;
}

.call-to-action {
    margin-top: 100px; /*remove margin later */
}

.box {
    display: flex;
}

.right-part-cta {
    margin-left: auto;
}

.footer {
    margin-top: 100px; /*remove margin later */
}